

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top {
	float:top;
	#background-color:blue;
	width:100%;
	text-align:center;
}
.right {
	float:right;
	width:25%;
	background-color:#2ED397;
	height:100%;
	border-radius: 25px;
	
}

.mid {
	float:left;
	width:50%;
	height:400px;
	text-align:center;
}
.left {
	float:left;
	width:25%;
	background-color:#2ED397;
	height:100%;
	border-radius: 25px;
	
}
